# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Reddcoin Client
Exec=reddelectrum %u
GenericName[en_US]=Reddcoin Wallet
GenericName=Reddcoin Wallet
Icon=reddelectrum
Name[en_US]=Electrum Reddcoin Wallet
Name=Electrum Reddcoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/reddcoin;

